@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainPage {
  font-family: 'Roboto Condensed', sans-serif;
}
.imageContainer {
  position: relative;
  max-height: 350px;
  color: white;
  overflow: hidden;
}
/* .imageContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.insideObjectFirst {
  position: absolute;
  top: 15px;
  width: 100%;
}
.insideObjectSecond {
  position: absolute;
  top: 150px;
  left: 150px;
  font-size: 27px;
  font-weight: bold;
}
.insideObjectSecond p {
  margin-bottom: 0;
}
.companyName {
  border-right: 1px solid white;
  padding-right: 15px;
}
#navbarNavDropdown {
  padding-left: 10px;
}
#navbarNavDropdown ul li a {
  font-size: 18px;
}
.codeRowContainer, .statisticsRowContainer {
  margin-top: 30px;
}
.paragraphStyle{
  font-size: 23px;
  margin-bottom: 30px;
  color: #616161;
}
.paragraphStyle p {
  margin-bottom: 0;
}
.paragraphStyle h2 {
  font-weight: bold;
}
.mockupStyle{
  width: 100%;
  border-radius: 10px;
}
.statisticsRowContainer {
  background-color: #002966;
  padding: 30px 0 30px 0;
}
.statisticsTitle {
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
.statisticsTitle h2 {
  height: 100%; 
  display:flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #002966!important;
  margin-right: 10px;
}
.wrapper {
  display: flex;
  width: 100%;
  margin: 0;
}
.descriptionContainer {
  margin: auto;
  text-align: center;
}
.descriptionNumber {
  font-size: 35px;
  font-weight: bold;
}
.imgContainer {
  width: 60px;
  height: 60px;
  margin: auto;
}
.mainProjectStyle {
  color: #616161;
  font-size: 20px;
  margin-bottom: 30px;
}
.mainProjectStyle h2 {
  font-weight: bold;
}
.mainProjectImgContainer {
  margin-bottom: 30px;
}
.mainProjectImgContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.footerRowContainer {
  padding: 15px 0;
  color: white;
  background-color: #343434;
}
.footerStyle {
  text-align: center;
  font-size: 13px;;
}
.footerStyle img {
  width: 17px;
  height: 15px;
}
.bottomFooterRowContainer {
  background-color: #002152;
  padding: 30px 0;
  color: white;
}
.bottomFooterStyle h4 {
  border-bottom: 1px solid white;
}
.bottomFooterStyle a {
  text-decoration: none;
  color: white;
}
.bottomFooterStyle a:hover {
  text-decoration: underline;
  color: white;
}
@media only screen and (max-width: 575px) {
  .companyName {
    border-right: none;
  }
}
@media only screen and (max-width: 600px) {
  .insideObjectSecond {
    left: 10px;
    top: 200px;
    font-size: 20px;
    padding-left: 20px;
  }
  .paragraphStyle{
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .paragraphStyle{
    margin-top: 10%;
  }
}
/* @media only screen and (max-width: 500px) {
  .insideObjectSecond {
    top: 80px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .titleStyle {
    border-right: none;
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .insideObjectSecond {
    top: 100px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .insideObjectSecond {
    font-size: 22px;
  }
} */