@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainPage {
  font-family: 'Roboto Condensed', sans-serif;
}
.imageContainer {
  position: relative;
  max-height: 350px;
  color: white;
  overflow: hidden;
}
/* .imageContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.insideObjectFirst {
  position: absolute;
  top: 15px;
  width: 100%;
}
.insideObjectSecond {
  position: absolute;
  top: 150px;
  left: 150px;
  font-size: 27px;
  font-weight: bold;
}
.insideObjectSecond p {
  margin-bottom: 0;
}
.companyName {
  border-right: 1px solid white;
  padding-right: 15px;
}
#navbarNavDropdown {
  padding-left: 10px;
}
#navbarNavDropdown ul li a {
  font-size: 18px;
}
.codeRowContainer, .statisticsRowContainer {
  margin-top: 30px;
}
.paragraphStyle{
  font-size: 23px;
  margin-bottom: 30px;
}
.paragraphBold {
  font-weight: bold;
}
.paragraphStyle p {
  margin-bottom: 0;
}
.mockupStyle{
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
.statisticsRowContainer {
  background-color: #455A64;
  padding: 30px 0 30px 0;
}
.statisticsTitle {
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
.card {
  background-color: #455A64!important;
  
}
.wrapper {
  display: flex;
  width: 100%;
  margin: 0;
}
.descriptionContainer {
  width: 50%;
  margin: auto;
  text-align: center;
}
.descriptionNumber {
  font-size: 35px;
  font-weight: bold;
}
.imgContainer {
  width: 60px;
  height: 60px;
  margin: auto;
}
@media only screen and (max-width: 575px) {
  .companyName {
    border-right: none;
  }
}
@media only screen and (max-width: 600px) {
  .insideObjectSecond {
    left: 10px;
    font-size: 20px;
    padding-left: 20px;
  }
  .paragraphStyle{
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .paragraphStyle{
    margin-top: 10%;
  }
}
/* @media only screen and (max-width: 500px) {
  .insideObjectSecond {
    top: 80px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .titleStyle {
    border-right: none;
  }
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .insideObjectSecond {
    top: 100px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .insideObjectSecond {
    font-size: 22px;
  }
} */