@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.active{
  color:#fcfcfc;
}
.mainPage {
  font-family: 'Roboto Condensed', sans-serif;
}
.imageContainer {
  position: relative;
  height: 380px;
  color: white;
  overflow: hidden;
}
.imageContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navImageStyle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.insideObjectFirst {
  position: absolute;
  top: 15px;
  width: 100%;
}
.insideObjectSecond {
  position: absolute;
  top: 170px;
  left: 100px;
  font-size: 27px;
  font-weight: bold;
  padding-top: 20px;
}
.insideObjectSecond p {
  margin-bottom: 0;
}
.logoStyle {
  width: 180px;
  height: 40px;
  border-right: 1px solid white;
  padding-right: 10px;
}
.navbar {
  margin: 0 50px 0 30px;
}
#navbarNavDropdown {
  padding-left: 10px;
}
#navbarNavDropdown ul li a {
  font-size: 18px;
}
.dropdown {
  margin-top: 5px;
  width: 120px;
}
#dropdownMenu2 {
  color: white;
}
.flagStyle {
  width: 25px;
  height: 15px;
  margin-right: 5px;
}
.codeRowContainer, .statisticsRowContainer {
  margin-top: 30px;
}
.mockupStyle{
  width: 100%;
  border-radius: 10px;
}
.statisticsRowContainer {
  background-color: #002966;
  padding: 30px 0 30px 0;
}
.statisticsTitle {
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
.statisticsTitle h2 {
  height: 100%; 
  display:flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: #002966!important;
  margin-right: 10px;
}
.cardNew {
  background-color: whitesmoke!important;
  margin-right: 10px;
  border-radius: 20px 0 20px 0;
}
.wrapper {
  display: flex;
  width: 100%;
  margin: 0;
}
.descriptionContainer {
  margin: auto;
  text-align: center;
}
.descriptionNumber {
  font-size: 35px;
  font-weight: bold;
}
.imgContainer {
  width: 60px;
  height: 60px;
  margin: auto;
}
.mainProjectStyle {
  color: #616161;
  font-size: 20px;
  margin-bottom: 30px;
}
.mainProjectStyle h2 {
  font-weight: bold;
}
.mainProjectImgContainer {
  margin-bottom: 30px;
}
.mainProjectImgContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.footerRowContainer {
  padding: 15px 0;
  color: white;
  background-color: #343434;
}
.footerStyle {
  text-align: center;
  font-size: 13px;;
}
.footerStyle img {
  width: 17px;
  height: 15px;
}
.bottomFooterRowContainer {
  background-color: #002152;
  padding: 30px 0;
  color: white;
}
.bottomFooterStyle h4 {
  border-bottom: 1px solid white;
}
.bottomFooterStyle a {
  text-decoration: none;
  color: white;
}
.bottomFooterStyle a:hover {
  text-decoration: underline;
  color: white;
}
.front {
  text-align: center;
}
.front img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.teamDecription {
  text-align: center;
}
.formContainer {
  margin: 30px 0 30px 0;
}
.formGroupStyle input {
  margin-bottom: 10px;
}
.sendMsg {
  background-color: #002966;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
.alertStyle {
  margin-top: 15px;
}
.specialNavContainer {
  background-color: #002966;
  display: flex;
}
.specialNavContainer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  overflow: hidden;
}
.specialNavContainer li {
  float: left;
}
.specialNavContainer li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.specName {
  font-weight: bold;
}
.notFoundStyle {
  text-align: center;
  padding: 100px 5px;
}
.cookieStyle{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.cookieStyle:hover{
  color: #039BE5;
  text-decoration: none;
}
div #rcc-confirm-button {
  bottom: 0;
}
.extraCard {
  background: #136a8a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border-radius:  20px 0 20px 0;
}
.positionContainer {
  display: inline-table;
}
.positionStyle {
  display: table-cell;
  height:50px;
  vertical-align: middle;
}
.codeExplanation {
  font-size: 25px;
  color: #616161;
}
.navbar-nav ul li a {
  padding-bottom: 0px;
}
.backBtn {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .insideObjectSecond {
    left: 30px;
    top: 200px;
    font-size: 20px;
    padding-left: 20px;
  }
  .codeExplanation {
    font-size: 16px;
  }
}
@media only screen and (max-width: 992px) {
  .logoStyle {
    border-right: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1470px) {
  .codeExplanation {
      font-size: 22px;
  }
}